{% extends "layout_alumno.html" %} {% block title %} Buscar Actividad {%
endblock title %} {% block content %} {% with messages = get_flashed_messages()
%} {% if messages %} {% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %} {% endif %} {% endwith %} {% if error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{ error }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endif %} {% if actividad %}
<div class="detalle_actividad">
  <h1>{{actividad['nom_actividad']}}:</h1>

  <p>{{actividad['descripcion']}}</p>
  <p>
    fecha: {% if actividad['fecha'] %} {{
    actividad['fecha'].strftime('%d/%m/%Y') }} {% else %} No tiene fecha {%endif
    %}
  </p>
</div>
{% endif %} {% endblock %}
