{% extends "layout_alumno.html" %} {% block title %} Test de Depresión {%
endblock title %} {% block content %}

<h1>Test de Depresión</h1>
<h2>Descripción</h2>
<p>
  Por favor lea las siguientes afirmaciones y coloque un círculo alrededor de un
  número (0, 1, 2, 3) que indica en qué grado le ha ocurrido a usted esta
  afirmación durante la semana pasada. La escala de calificación es la
  siguiente: <br />
  0: No me ha ocurrido <br />
  1: Me ha ocurrido un poco, o durante parte del tiempo<br />
  2: Me ha ocurrido bastante, o durante una buena parte del tiempo<br />
  3: Me ha ocurrido mucho, o la mayor parte del tiempo.
</p>

<div class="test p-2">
  {% if error %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ error }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endif %}
  <form class="form" action="/test_depresion" method="POST">
    {% for i in range(preguntas|length) %}
    <div class="radio mb-3">
      <h3>{{preguntas[i]}}</h3>
      <div class="row">
        {% for j in range(respuestas_test|length) %}
        <div class="col-2">
          <input
            type="radio"
            name="{{i + 1}}"
            value="{{j}}"
            id="{{ i * (respuestas_test|length) + j }}"
            class="me-2"
          />
          <label for="{{ i * (respuestas_test|length) + j }}"
            >{{respuestas_test[j]}}</label
          >
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}

    <div class="form-group row justify-content-center">
      <button class="col-auto btn btn-primary">Enviar</button>
    </div>
  </form>
</div>

{% endblock %}
